h1, h2, p, ul {
    margin: 0;
    margin-top: 15px;
  }

  p.main-text {
    margin-top: 5px;
    color: red;
  }
  
  ul li {
    margin-top: 8px;
  }

  span.icon1 {
    margin-right: 2px;
    margin-left: 2px; 
  }
  span.icon2 {
    margin-right: 2px;
    margin-left: 20px; 
  }